# dir path for vtk files
# acceptable type: vts/vtp/vti/vtr/vtu/vtk (deprecated)
# .vtk files are process-able but deprecated, because we cannot know the underlying mesh type of the data from filename
C:\Users\mingz\Desktop\ResearchProjects\GWMT-Cloud-Revision\data\20180501_juelich\separate

# target topological descriptor type:
# JT (join tree) / ST (split tree) / CT (contour tree) / ASC-MC (ascending mc) / DESC-MC (descending mc) / MSC
st

# persistence simplification level (** PERCENT ** of largest range among all instances)
# if not specified, we compute the persistence curve first and use it to determine a good threshold
0.0

# scalar name (either all vtk files share the same scalar name, or specify the scalar name for each dataset)
density

# Output segmentation (not recommended if save memory): no

# Save simplified scalar field (recommended if needed by other tools for comparison): no

# Do we use a local persistence threshold for each instance? no
