# dir path for .txt/.npy matrix files
# C:/Users/mingz/desktop/ResearchProjects/GWMT-Cloud/CloudTracking/additional/20180613_CE_additional.tar/array
# C:/Users/mingz/desktop/ResearchProjects/GWMT-Cloud/CloudTracking/additional/20180618_CE_additional.tar/array
# C:/Users/mingz/desktop/ResearchProjects/GWMT-Cloud/CloudTracking/additional/20180623_CE_additional.tar/array
# C:/Users/mingz/desktop/ResearchProjects/GWMT-Cloud/CloudTracking/additional/20180710_CE_additional.tar/array
# C:\Users\mingz\Desktop\ResearchProjects\GWMT-Cloud\debug\pFGW\CPPin20230801_-0percent-0.2-thres-2.0
# C:\Users\mingz\Desktop\ResearchProjects\GWMT-Cloud\debug\tobac\CPPin20230801_-0percent-0-thres-2.0
# C:\Users\mingz\Desktop\ResearchProjects\GWMT-Cloud\debug\PyFLEXTRKR\CPPin20230801_-0percent-0-thres-2.0
# C:\Users\mingz\Desktop\ResearchProjects\GWMT-Cloud\debug\PyFLEXTRKR\20180501_juelich-0-0-0-36-thres-9.0
# C:\Users\mingz\Desktop\ResearchProjects\GWMT-Cloud\debug\PyFLEXTRKR\20180501_juelich-0-0-37-108-thres-10.0
# C:\Users\mingz\Desktop\ResearchProjects\GWMT-Cloud\debug\tobac\20180501_juelich-0-0-0-36-thres-9.0
# C:\Users\mingz\Desktop\ResearchProjects\GWMT-Cloud\debug\tobac\20180501_juelich-0-0-37-108-thres-10.0
# C:\Users\mingz\Desktop\Cloud Tracking\tobac-main\examples\test
# C:\Users\mingz\Desktop\ResearchProjects\GWMT-Cloud-Revision\debug\pFGW-system\CPPin20230801_-0percent-0.4-thres-2.0
# C:\Users\mingz\Desktop\ResearchProjects\GWMT-Cloud-Revision\debug\pFGW-system\20180501_juelich-0-0.2-0-36-thres-9.0
# C:\Users\mingz\Desktop\ResearchProjects\GWMT-Cloud-Revision\debug\pFGW-system\20180501_juelich-0-0.2-37-108-thres-10.0
# C:\Users\mingz\Desktop\ResearchProjects\GWMT-Cloud-Revision\debug\MT-Wasserstein\CPPin20230801_-0percent-0-thres-2.0
# C:\Users\mingz\Desktop\ResearchProjects\GWMT-Cloud-Revision\debug\MT-Wasserstein\20180501_juelich-0-0-37-108-thres-10.0
# C:\Users\mingz\Desktop\ResearchProjects\GWMT-Cloud-Revision\debug\MT-Wasserstein\20180501_juelich-0-0-0-36-thres-9.0
# C:\Users\mingz\Desktop\ResearchProjects\GWMT-Cloud-Revision\debug\LWM\20180501_juelich-0-0-0-36-thres-9.0
# C:\Users\mingz\Desktop\ResearchProjects\GWMT-Cloud-Revision\debug\LWM\20180501_juelich-0-0-37-108-thres-10.0
# C:\Users\mingz\Desktop\ResearchProjects\GWMT-Cloud-Revision\debug\LWM\CPPin20230801_-0percent-0-thres-2.0
# C:\Users\mingz\Desktop\Presimplification-figsraw\image-slices
# C:\Users\mingz\desktop\ResearchProjects\GWMC-TVCG\2D\data\VortexWithMin\scalar
C:\Users\mingz\Desktop\Blocking

# target vtk type (vts/vtr/vti/vtp)
vts

# Data need transpose (only for 2D data): yes

# scalar name (optional, default: var)
density
